body {
  /* So that we catch all clicks in the viewport. */
  min-height: 100vh;
}

#content {
  transition: all 0.3s;
}

.tooltip-section:not(:first-of-type) {
  margin-top: 1em;
}
.tooltip-key {
  font-weight: bold;
  font-style: italic;
}

.monospace {
  display: inline-block;
  font-family: monospace;
  background-color: var(--bs-light-bg-subtle);
  padding: 4px;
  border: 1px solid var(--bs-light-border-subtle);
  border-radius: 4px;
}

.v-margin {
  margin-top: 8px; margin-bottom: 8px;
}

.highlight-on-hover {
  transition: opacity 0.35s ease-in-out;
}
.highlight-on-hover:hover {
  opacity: 0.7;
}

.popover {
  max-width: 80% !important; /* Relative to the table of checked sites. */
}

.spinning {
  display: inline-block; /* Required for the animation to work. */
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
