body {
  /* So that we catch all clicks in the viewport. */
  min-height: 100vh;
}

#content {
  transition: all 0.3s;
}

thead td {
  font-weight: bold;
}

.tooltip-section:not(:first-of-type) {
  margin-top: 1em;
}
.tooltip-key {
  font-weight: bold;
  font-style: italic;
}

.monospace {
  display: inline-block;
  font-family: monospace;
  background-color: #eee;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.v-margin {
  margin-top: 8px; margin-bottom: 8px;
}

.popover {
  max-width: 80% !important; /* Relative to the table of checked sites. */
}
